body {
    background-color: #f3f3f3;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    /* letter-spacing: 0.1em; */
}

.name, .about-me-title {
    font-size: 1.4em;
    font-family: 'Work Sans', sans-serif;
}

header {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5em;
}

.circle {
    width: 1.5em;
    height: 1.5em;
    background-color: #eea302;
    border-radius: 50%;
}

.name-left {
    display: flex;
    align-items: center;
}

.circle, .name {
    margin-left: .5em;
}

.nav-bar-right > a {
    /* font-size: 1.1em; */
    padding-right: .7em;
    margin-right: .5em;
    transition: color 250ms ease;
    /* text-decoration: none; */
    /* color: #000000 */
}

.nav-bar-right > a:hover {
    color: #A47F00;
}

.nav-bar-right a:nth-child(1) {
    border-right: 1px solid #000000;
}

.nav-bar-right a:nth-child(2) {
    border-right: 1px solid #000000;
    color: #A47F00;
}

#main {
    width: 80%;
    margin: 0 auto;
}

.projects {
    text-align: center;
}

#project1 {
    display: grid;
    grid-template-columns: 40% 45%;
    justify-content: space-between;
    padding: 5em 0em;
}

#project2 {
    display: grid;
    grid-template-columns: 40% 45%;
    justify-content: space-between;
    margin: 5em 0em;
}

#project3 {
    display: grid;
    grid-template-columns: 40% 45%;
    padding: 5em 0em 10em 0em;
    justify-content: space-between;
}

.image-link {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 100%;
}

img {
    max-width: 100%;
}

p {
    grid-row-start: 2;
    line-height: 1.4em;
    font-size: 1em;
}
/*      if above ever fails restore below on individual sections

#project3 img {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 100%;
}

#project3 p {
    grid-row-start: 2;
} */

.header {
    font-size: 1.5em;
    font-weight: 600;
}
















footer {
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid #c7c7c7;
    display: flex;
    justify-content: space-between;
    padding: 3em 0;
}

footer > div:first-child {
    padding-left: 2em;
}

footer > p {
    padding-right: 2em;
}

footer h3 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.socials > a {
    font-size: 1.7em;

}

.fa {
    margin: .5em 0;
    padding: 0em .5em 0em .2em;
}