body {
    background-color: #f3f3f3;
    margin: 0;
}
/* main content fade-in start */
 /* TODO: make sure to add fade animation to desktop only. Think: mobile first */
main {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
     -ms-animation: fadein 4s; /* Internet Explorer */
      -o-animation: fadein 4s; /* Opera < 12.1 */
         animation: fadein 4s;
}

.circle-links {
    -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s; /* Firefox < 16 */
     -ms-animation: fadein 7s; /* Internet Explorer */
      -o-animation: fadein 7s; /* Opera < 12.1 */
         animation: fadein 7s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* main content fade-in end */
a {
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    /* letter-spacing: 0.1em; */
}

.name, .about-me-title {
    font-size: 1.4em;
    font-family: 'Work Sans', sans-serif;
}

header {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5em;
}

.circle {
    width: 1.5em;
    height: 1.5em;
    background-color: #eea302;
    border-radius: 50%;
}

.name-left {
    display: flex;
    align-items: center;
}

.circle, .name {
    margin-left: .5em;
}

.nav-bar-right > a {
    /* font-size: 1.1em; */
    padding-right: .7em;
    margin-right: .5em;
    transition: color 250ms ease;
    /* text-decoration: none; */
    /* color: #000000 */
}

.nav-bar-right > a:hover {
    color: #A47F00;
}

.nav-bar-right a:nth-child(1) {
    border-right: 1px solid #000000;
}

.nav-bar-right a:nth-child(2) {
    border-right: 1px solid #000000;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr .1fr .5fr .5fr;
    width: 80%;
    margin: 0 auto;
    padding: 9em 0em 20em 0em;
}

main {
    margin: 0 auto;
}

img {
    border-radius: 50%;
    width: 90%;
    height: 98%;
    grid-row-start: 1;
    grid-row-end: 5;
    justify-self: center;
}

.about-me {
    width: 70%;
    line-height: 1.4em;
    margin-top: 0;
    font-family: 'Work Sans', sans-serif;
}

.about-me-title {
    margin: 0;
}

span > a {
    color:#eea302 !important;
}

h1 {
    align-self: center;
    font-family: 'Work Sans', sans-serif;
    margin: 0 0 .4em 0;
    font-size: 5em;
}

.circle-links > a {
    display: inline-block;
    font-weight: bold;
    width: 8.75em;
    border-radius: 50%;
    text-align: center;
    padding: 4em 0;
    border: 1px solid #000000;
    margin-right: 1em;
    transition: background-color 500ms linear;
}

.circle-links > a:nth-child(1) {
     background-color: #eea302;
}

.circle-links > a:nth-child(2) {
    background-color: #ff3b25;
}

.circle-links > a:nth-child(3) {
    background-color: #80d8da;
}

.circle-links > a:hover {
    background-color: #f3f3f3;
}

footer {
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid #c7c7c7;
    display: flex;
    justify-content: space-between;
    padding: 3em 0;
}

footer > div:first-child {
    padding-left: 2em;
}

footer > p {
    padding-right: 2em;
}

footer h3 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.socials > a {
    font-size: 1.7em;

}

.fa {
    margin: .5em 0;
    padding: 0em .5em 0em .2em;
}
